:root {
  /*--bodyBg: #f0f4f8;*/
  --bodyBg: #262626;
  /* --menuBg: #334d68; */
  --menuBg: black;
  --progressBar: #54d1db;
}

body {
  background: var(--bodyBg);
  background-color: #262626;
}

#menu {
  background: var(--menuBg);
}

/* #container {
  background: black;
} */

/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}
